body {
  margin:  0;
  padding: 0;
  border:  0;
  font-size: 14px;
}

.icon-btn {
  padding: 7 10 7 10;
  font-size: 100%;
  color: #666;
  background-color: white;
  border: 1px solid #666;
  border-radius: 18px;
  span {
    padding-left: 5px;
  }
}

.mark {
  text-align: center;
  color: white;
  padding: 0 10 0 10;
  border-radius: 20px;
}

.notification {
  color: white;
  background-color: #3b9dbd;
  padding: 2 4 2 4;
  border-radius: 20px;
}

img {
  width: 30px;
  max-height: 100%;
  vertical-align: middle;
}

li {
  list-style-type: none;
}

a {
  color: #00759b;
  text-decoration: none;
}

.header {
  max-height: 50px;
  background-color: #ebf0f2;
  overflow: hidden;
  * {
    vertical-align: middle;
  }
  ul {
    padding: 0;
    margin: 10px 0 10px 0;
    display: inline-block;
    li {
      display: inline-block;
      margin-left: 12px;
    }
  }
  img.logo {
    padding-left: 20px;
  }
  .menus {
    font-size: 95%;
    width: 70%;
  }
  .icons {
    width: 25%;
    color: gray;
    text-align: right;
    .bars {
      padding-left: 20px;
      border-left: 1px solid gray;
    }
  }
}

.wrap {

  .sidebar {
    width: 200px;
    height: 100%;
    float: left;
    background-color: #3b9dbd;
    background-image: url('../images/bg_dot.png');
    color: white;
    .burger {
      text-align: right;
      .fa {
        padding: 10 20 10 0;
      }
    }
    ul.sidemenu {
      padding-left: 0;
      font-size: 95%;
      li {
        padding-left: 12px;
        margin: 20 0 20 0;
        font-size: 110%;
        .fa {
          width: 20px;
        }
        span {
          padding-left: 15px;
        }
      }
    }
  }

  .content {
    height: 100%;
    padding: 0 30 0 30;
    margin-left: 200px;
    background-color: #f0f0f0;

    .project {
      margin: 0 -30 0 -30;
      padding: 10 0 10 30;
      height: 30px;
      background-color: white;
      border-top:    1px solid #ccc;
      border-bottom: 1px solid #ccc;
      img.logo {
        margin-bottom: 5px;
      }
      .project-name {
        font-size: 120%;
      }
      .project-key {
        font-size: 90%;
      }
      .search {
        position: absolute;
        margin-top: 7px;
        right: 25px;
        color: gray;
      }
    }

    .mode {
      position: relative;
      width: 100%;
      display: inline-block;
      margin: 15 0 20 0;
      span.label {
        font-size: 120%;
        margin-right: 20px;
        .fa {
          color: #aaa;
          font-size: 170%;
          padding-right: 7px;
        }
      }
      ul.mode-list {
        display: inline-block;
        vertical-align: middle;
        margin:  0;
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        li.mode-item {
          display: table-cell;
          width: 120px;
          margin: 0;
          padding-top: 6px;
          padding-bottom: 6px;
          background-color: white;
          text-align: center;
        }
        li.mode-item.active {
          background-color: #3b9dbd;
          color: white;
        }
      }
      .side-buttons {
        position: absolute;
        top: 12px;
        right: 0;
      }
    }

    .status {
      ul.status-list {
        margin: 0;
        padding: 0;
        display: table;
        li {
          display: table-cell;
        }
        .label {
          font-size: 95%;
        }
        .status-item {
          padding: 0 10 0 10;
          a {
            padding: 5 8 5 8;
          }
          a.active {
            color: white;
            background-color: #3b9dbd;
            border-radius: 20px;
          }
        }
      }
    }

    .filters {
      display: table;
      padding: 0;
      .filter-group {
        display: table-cell;
        .filter-selecter {
          width: 220px;
          height: 30px;
          margin: 0 30 0 0;
          background-color: white;
          border: 2px solid #ccc;
          border-radius: 4px;
          .selecter-item {
            position: relative;
            font-size: 90%;
            margin: 5 0 0 5;
            .fa {
              position: absolute;
              top: -3px;
              right: 5px;
            }
          }
        }
        .user-icon {
            color: #ccc;
            background-color: white;
            border-radius: 50%;
        }
        input[type=text] {
          height: 34px;
        }
      }
    }

    .issues {
      table {
        width: 100%;
        border: solid 1px #c2c2c2;
        border-radius:   4px;
        border-collapse: collapse;
        thead {
          background-color: white;
          font-size: 85%;
          tr {
            border-bottom: 2px solid #ccc;
          }
          th {
            font-size: 95%;
            padding: 7px 0px 7px 0px;
          }
        }
        tbody {
          font-size: 80%;
          tr {
            border-collapse: separate;
          }
          tr:nth-child(even) {
            background-color: #f6f6f6;
          }
          tr:nth-child(odd) {
            background-color: white;
          }
          td {
            padding: 5px 15px 5px 15px;
          }
          td > .task {
            background-color: #b0be3c;
          }
          td > .status {
            background-color: #ed8077;
          }
          td.user {
            img {
              vertical-align: middle;
              width:  24px;
              height: 24px;
            }
          }
        }
      }
    }
    .issues-helper {
      padding: 15 0 15 0;
      .pager {
        float: left;
      }
      .side-buttons {
        text-align: right;
      }
    }
  }

}
